html,
body {
  height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

#map {
  background-color: black;
  position: relative;
  max-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#start-menu {
  width: 20%;
  height: 10%;

  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
}

#reg-err {
  position: absolute;
  padding: 20px;
  left: 0;
}

#controls {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  z-index: 500;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* Practice controls */
#ortolayer-selection:hover {
  background: #212529;
  cursor: default;
}
div.year-selection:hover {
  cursor: pointer;
}
form.ortolayer-selection {
  display: flex;
  align-items: center;
  gap: 2rem;
}
select.city-selection:hover,
label.form-check-label:hover,
input.form-check-input:hover {
  cursor: pointer;
}
/*  */

#curator-controls,
#curator-info,
#curator-zoom-selection {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 1rem;
  z-index: 500;
  display: flex;
  gap: 0.5rem;
}

#curator-info,
#curator-zoom-selection {
  top: 4rem;
  background-color: rgba(80, 80, 80, 0.6);
  max-width: 35%;
}

#curator-zoom-selection {
  gap: 0;
  flex-direction: column;
}

#curator-info > h5,
#curator-zoom-selection > * {
  margin: 0.5rem;
}

#curator-zoom-selection > h5 {
  margin-bottom: 0;
}

#curator-zoom-selection-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

#curator-form {
  display: flex;
  flex-direction: column;
}

#curator-form > * {
  margin: 0.5rem;
}

#curator-form > #map {
  height: 40vh;
}

#curator-end-controls {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

div.curator-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
div.curator-settings > {
  width: fit-content;
}

#dev-stat {
  color: white;
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 500;
}

#latlon-overlay {
  position: absolute;
  left: 100px;
  z-index: 500;
}

#selector-map {
  position: absolute;
  padding: 10px;
  left: 10px;
  width: 250px;
  height: 250px;
  bottom: 10px;
  z-index: 600;
}

#selector-map:hover {
  position: absolute;
  padding: 10px;
  left: 10px;
  width: 600px;
  height: 500px;
  bottom: 10px;
  z-index: 600;
}

#modal-content {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Play modal */
div.play-modal-dialog {
  min-width: 65vw;
}
h5.play-modal {
  margin: auto;
  text-align: center;
}
div.play-modal-content {
  max-width: fit-content;
  margin: 0 auto 2rem auto;
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}
/*  */

/* Daily challenge modal */
.daily-challenge-modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/*  */

/* Help modal */
div.help-content img {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}
table.control-button-explanations td {
  padding: 0 0 1rem 0;
}
/*  */

/* Calendar modal */
div.calendar-modal-body {
  display: flex;
  gap: 1rem;
  margin: 0.5rem;
}
div.daily-challenge-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
td.header {
  width: 6rem;
}
#calendar-map {
  height: 100%;
  min-height: 0; /* AI said this is important 🙏 */
}
button.reload {
  margin-left: auto;
}
/*  */

/* Round end modal REM */
meter {
  width: 100%;
}
#results-map {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  z-index: 500;
}
/*  */

/* Game summary */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.summary-points {
  animation-delay: 1.5s;
}
.summary-rounds,
.scoreboard-form,
.scoreboard {
  animation-delay: 3s;
}
td.summary-round-id,
td.scoreboard {
  width: 5rem;
  padding: 0.5rem 0;
}
.game-summary-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}
.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  */

#modal-score {
  padding-top: 10px;
}

#menu-title {
  position: absolute;
  font-size: 120px;
  color: #b5b191;
  padding: 20px;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
}

#log-banner {
  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  padding: 10px;
}

#round-indicator {
  position: absolute;
  z-index: 500;
  font-size: 50px;
  top: 10px;
  left: 30px;
}

#timer-indicator {
  position: absolute;
  z-index: 500;
  font-size: 20px;
  top: 2%;
  left: 50%;
}

.y-button {
  min-width: 100px;
  min-height: 100px;
}
